*{
    margin: 0;
    padding: 0;
    /*This got rid of that weird border in the top*/
}


@media  (min-aspect-ratio:1/1){
    
    *{
        margin: 0;
        padding: 0;
        border: 0;
        /*This got rid of that weird border in the top left*/
    }
    .header{
        font: 2vw Arial;
        font-weight: bold;
        margin-left: 2vw;
    }
    .logs{
        white-space: nowrap;
        
    }
    
    
    
    
    .playContainer{
        margin-left: 4.5vw;
        margin-top: 2vw;
    }
    .Play{
        border-style: solid;
        border-width: 4vw;
        border-color: #202020;
        box-sizing: border-box;
        width: 8vw;
        height: 8vw;
        border-width: 4vw 0px 4vw 8vw; 
        border-color: transparent  transparent  transparent  #202020;
        
    }
    .mnavbar{
        display: none;
    }
    .navbar{
        display: grid;
        grid-template-columns: 10vw 20vw 20vw 20vw 20vw 10vw;
        grid-template-rows:4vw;
        background-color: #028EE6;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        width: 100vw;
        text-align: center;
    }
    .mainBody{
        display: grid;
        grid-template-columns: 16vw 16vw 16vw 16vw;
        grid-template-rows:16vw;
        margin: 12vw;
        background-color: white;
        width: 87vw;
        text-align: center;
    }
    .formclass{
        display: grid;
        grid-template-columns: 25vw 25vw 25vw 25vw;
        grid-template-rows: 50vw;

    }
    
    .textInput{
        border-style: solid;
        border-color: black;
        border-width: 4px;
        width: 15vw;
        height: 13vw;
        margin: 5vw;
        font: 1vw Arial;
        white-space: nowrap;
    }
    
    .buttonDiv{
        padding-left: 5vw;
    }
    
    .subButton{
        width: 16vw;
        height: 7vw;
        font: 4vw Arial;
    }
    .Script{
        border-radius: 25px;
        display: block;
        border-style: solid;
        border-color: black;
        border-width: 4px;
        text-align: center;
        background-color: #028EE6;
        font-family: Arial, Helvetica, sans-serif;
        font: 2vw Arial;
        color: black;
        font-weight: bold;
        text-decoration: none;
        margin: auto;
        float: left;
        height: 16vw;
        width: 16vw;
        margin: 4vw;
    } 
    .Menu{
        display: block;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font: 2vw Arial;
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    .blank{
        color: white;
        background: white;
        
    }
    .main
    {

        display: grid;
        grid-template-columns: 25vw 50vw 25vw;
        grid-template-rows: auto auto auto;

    }




    .Footer
    {
        display: grid;
        grid-template-columns: 40vw 20vw 20vw 20vw;
        background-color: #028EE6;
        border-style: solid;
        border-color: black;
        border-width: 1px;
    }
    .FooterItem{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font: 1vw Arial;
        text-decoration: none;
        color: white;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
        display: block;
        font-weight: bold;

    }




    .carousell{
        display: none;
    }
    .ContactBox{
        width: 100% ;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-radius: 3px;
    }
    .ContactBoxLarge{
        width: 100% ;
        height: 20vh;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-radius: 5px;
    }
    .ContactUs{
        display: block;
        font-weight: bold;
        align-items: center;
        grid-column: 2/3;


    }
    .NormalImage{
        grid-column: 2;
        align-self: center;
        width: 50vw;
        height: auto;

        
    }
    #mapimg{
        border-radius: 30px;
        

    }
    .WrittenBy{
        grid-column: 2/3;
        text-align: center;
        font-weight: bolder;
    }
    .MTList{

            margin-top: 2%;
            grid-column: 2/3;
            

        
    }
    .IMGCaption{
        margin-top: 0;
        grid-column: 2/3;
        color: grey;
        font-size: 80%;


    }
    .MSGACC{
        grid-column: 2/3;
        font-weight: bolder;
        text-align: center;
        font-size: 30px;
    }
}
/*  Media query for mobile devices. If device screen width is smaller than height then gets treated as mobile device*/
@media  (max-aspect-ratio:1/1){
    *{

        box-sizing: border-box;
    }
    .header{
        font: 10vw Arial;
        font-weight: bold;
        margin-left: 2vw;
    }
    .logs{
        white-space: nowrap;
        overflow:  auto;
        
        
    }
    
    
    
    
    .formclass{
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 50vw 50vw;


    }
    .textInput{
        border-style: solid;
        border-color: black;
        border-width: 4px;
        width: 40vw;
        height: 30vw;
        margin: 5vw;
        font: 2vw Arial;
        white-space: nowrap;
    }
    
    .buttonDiv{
        padding-left: 18vw;
    }
    
    .subButton{
        width: 14vw;
        height: 7vw;
        font: 4vw Arial;
    }
    
    .blank{display: none;}
    
    .buttondiv{
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 40vw 40vw;
    
    }
    .Script{
        border-radius: 25px;
        display: block;
        border-style: solid;
        border-color: black;
        border-width: 4px;
        text-align: center;
        background-color: #028EE6;
        font-family: Arial, Helvetica, sans-serif;
        font: 4vw Arial;
        color: black;
        font-weight: bold;
        text-decoration: none;
        margin: auto;
        float: left;
        height: 36vw;
        width: 36vw;
        margin: 10vw;
        padding-top: 4vw;
    } 
    .playContainer{
        margin-left: 10vw;
        margin-top: 5vw;
    }
    .Play{
        border-style: solid;
        border-width: 8vw;
        border-color: #202020;
        box-sizing: border-box;
        width: 16vw;
        height: 16vw;
        border-width: 8vw 0px 8vw 16vw; 
        border-color: transparent  transparent  transparent  #202020;
        
    }



    .MainText
    {
        margin-top: 5%;
    
        text-align: center;
    }
    .main{
        margin-left: 5%;
        margin-right: 5%;

    }

    .social{display: none;}
    .Titlebar{
        width: 100%;
        float: inline-start;
        background-color: #028EE6;
    }
    .navbar
    {
        display: none;
    }
    .mnavbar{
        background-color: #028EE6;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font: 7vw Arial;
        text-decoration: none;
        border-radius: 25px;
        border-style: solid;
        border-color: black;
        border-width: 4px;

    }
    .DDopen{
        
        display: block;
        text-decoration: none;
        color: black;
        font-weight: bold;

    }
    .MMenu{
        width: 100%;
        display: block;
        border-style: solid;
        text-decoration: none;
        color: black;
        border-width: 4px;
        border-color: black transparent  black transparent;
    }
    #myDropdown{
        display: none;
        width: 100%;
        

    }

    .buttons{display: none;}
    

    .Footer{
        display: block;
        width: 100vw;
        height: auto;
        background-color:   #028EE6 ;
        display: grid;
        grid-template-columns: 50% 50%;


    }

    .FooterItem{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font: 5vw Arial;
        text-decoration: none;
        color: white;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
        display: block;
        font-weight: bold;
    }
    .ContactBox{
        width: 100% ;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-radius: 3px;
    }
    .ContactBoxLarge{
        width: 100% ;
        height: 20vh;
        border-style: solid;
        border-color: black;
        border-width: 1px;
        border-radius: 5px;
    }
    .ContactUs{
        display: block;
        font-weight: bold;
        align-items: center;



    }

    .WrittenBy{
        text-align: center;
        font-weight: bolder;
    }
    .MTList{
        margin-top: 5%;
    
        text-align: left;


    }
}

